.icons {
  position: absolute;
  top: 50%;
  padding: 0 9%;
  transform: translateY(-50%);
}

.icons i {
  display: block;
  margin: 26px 0;
  font-size: 24px;
  color: white;
  transition: all 0.5s ease;
}

.icons i:hover {
  color: #670fb9;
  transform: translateY(-5px);
}


@media (max-width: 1535px) {
  .icons {
    padding: 0 3%;
    transition: 0.2s;
  }
}

@media (max-width: 1195px) {
  .icons {
    display: none;
  }
}
